header{
    width: 100%;
    float: left;
    font-family: Georgia;
    text-align: center;
    margin-left: 30px;
}

nav {
    width: 20%;
    float: left;
}

main{
    width: 60%;
    float: left;
    font-size: large;
    margin-left: 30px;
    text-align: center;
}

#homeImg img{
    width: 250px;
    display: block;
    margin: 0 auto;
}

main p{
    margin-top: 30px;
    text-indent: 25px;
}

main h1{
    text-align: center;
}
main h2{
    text-align: center;
}
main h3{
    text-align: center;
}
main h4{
    text-align: center;
}
main h5{
    text-align: center;
}
main h6{
    text-align: center;
}


footer{
    width: 100%;
    float: left;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

/* Menus */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #DDDDDD;
    border: 2px solid #555555;
}

ul a{
    display: block;
    color: #000000;
    padding: 8px 0 8px 0;
}

li{
    text-align: center;
    border-bottom: 1px solid #555555;
}

li:last-child{
    border-bottom: 0;
}

/* Hover */

li a:hover{
    background-color: #000000;
    color: #DDFF88;
}

#dice img{
    width: 64px;
    height: 64px;
}

#dice p{
    text-align: left;
    text-indent: 0;
}

#error {
    color: #FF0000;
}